<div class="container py-4">
  <%= render 'shared/search_form' %>
  <div class="row g-4">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= render 'products/product_card', product: product %>
      </div>
    <% end %>
  </div>

  <div class="mt-4 d-flex justify-content-between align-items-center">
    <div class="text-muted">
      Showing <strong><%= @products.offset_value + 1 %></strong> to <strong><%= [@products.offset_value + @products.limit_value, @products.total_count].min %></strong> of <strong><%= @products.total_count %></strong> products
    </div>
    <div><%= paginate @products %></div>
  </div>
</div>
